* {
 box-sizing: border-box;
}

.create {
  background-color:#F0F8FF;
  width:40%; 
  align-items:center; 
  border-radius:7%; 
  height:80%; 
  margin:auto;
  
}
.bg-img {
  background-image: linear-gradient(to bottom left, #00ffff 8%, #ff99cc 69%);
  background-blend-mode: multiply;
  padding: 15px;
  width: 100%;
  height: 100%;
  float: right;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header {
  overflow: hidden;
  margin-left:00px;
  width:1200px; 
  height:55px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  background-repeat:no-repeat; 
  float: left;
  font-size: 5px;
  font-weight: bold;
}

.header a:hover {
  background-color: #87CEFA;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  margin-top:0px;
  float: right;
}
