* {
  box-sizing: border-box;
}
 
.create {
  background-color:#F0F8FF;
  width:40%; 
  align-items:center; 
  border-radius:7%; 
  height:85%; 
  margin:auto;
}
.bg-img {
  background: linear-gradient(to bottom right, #00ffff 4%, #ff99cc 73%);, url("ground.jpg");
  padding: 15px;
  width: 100%;
  height: 100%;
  float: right;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
