.picture {
  width: 50%;
  height:100%;
  display: flex;
  float: left;
  -webkit-animation: mymove infinite;
  -webkit-animation-duration: 3s;
}
.wording {
  width: 50%;
  height:100%;
  float: left;
  text-align: center;
  vertical-align: middle;
}
body, html {
  background-image: linear-gradient(to bottom left, #00ffff 8%, #ff99cc 69%), url('images/ground 12-min.jpg');
  background-blend-mode: multiply;
  width: max-width;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.block {
  display: block;
  width: 70%;
  background-color: #F0F8FF;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
.logo {
  content:url(images/logo.png);
  text-align:right;
  height:48%; 
  width:60%;
  position: relative;
  color:white;
  animation: mymove;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes mymove {
  0%{top: 300px;}
  49%{top: 0px;}
  50%{top: 2px;}
  100%{top: 160px;}
}
