.header {
  overflow: hidden;
  margin-left:00px;
  width:1200px; 
  height:55px;
  left:80px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  background-repeat:no-repeat; 
  float: left;
}

.header a:hover {
  background-color: #87CEFA;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  margin-top:0px;
  float: right;
}  
body, html {
  background-image: linear-gradient(to left, #00ffff 12%, #ffccff 84%);
  background-blend-mode: multiply;
  width: max-width;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
} 
.card {
  margin: 2%;
  height: 180px;
  width: 200px;
  float: left;
  line-height: 20pt;
  text-align: left;
  background: white; 
  opacity: 0.8;
  border-radius: 8px;
  color: white;
  display: inline-block;
  color: black;
  box-shadow: 10px 10px 5px 5px;
}
.container{
  padding:5px;
  width:90%;
  display:inline-block;
  linear-gradient(to left, #00ffff 12%, #ffccff 84%);
}
#deliveryResult {
  font-size: 15px;
}
